data/*xml
data/*desktop
data/*desktop.in

help/??/*page
help/??/*mo
help/??/*stamp
help/??_??/*page
help/??_??/*mo
help/??_??/*stamp

po/*mo
po/POTFILES
po/Makefile.in.in
po/stamp-it

src/frogr
src/*o
src/examples/example
src/*/*o
src/*/*a
src/*/.deps

*cache
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
compile
config.*
configure
depcomp
frogr-*.tar*
install-sh
m4/
missing
po/*.header
po/*.pot
po/*.po~
po/*.sed
po/*.sin
po/Makevars.template
po/Rules-quot
po/stamp-po
stamp-h1
tags
