Source: frogr
Section: graphics
Priority: optional
Maintainer: Alberto Garcia <agarcia@igalia.com>
Build-Depends: cdbs, intltool, debhelper (>= 6), libflickcurl-dev (>= 1.0), libglib2.0-dev (>= 2.16), libgtk2.0-dev (>= 2.12), libxml2-dev (>= 2.6.8)
Standards-Version: 3.7.3
Homepage: http://code.google.com/p/frogr/

Package: frogr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Flickr Remote Organizer for GNOME
 Frogr intends to be a complete GNOME application to remotely manage a
 flickr account from the desktop.
